.popover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: $darkGraphite;
  padding: 2rem;
  color: $light;

  .button--close {
    margin: 0 2rem 0 0;
  }
}

.popover__header {
  margin: 0 0 5rem 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
